extends default

block content
    div.myprofile
        div.bio
            h1(id=`welcome`)(style=`display: none;`)
                | Hi!  

            script.
                $('#welcome').fadeIn(200);
            
            h1(id=`name`)(style=`display: none;`)
                | I'm 
                                
                name #{name}
            
            script.
                setTimeout(function(){$('#name').fadeIn(500);},900); 
            
            div.profilepicture(id=`profilepicture`)(style=`background: url('/images/me.jpg') no-repeat; background-size: cover;display: none;`)
            script.
                setTimeout(function(){$('#profilepicture').fadeIn(1000);},1000);

            div.summary(id=`summary`)(style=`display: none;`)
                | #{bio}
            script.
                setTimeout(function(){$('#summary').fadeIn(500);},1200);

        div.skillscontainer(id=`skillscontainer`)(style=`display: none;`)
            h2
                | Languages
            each languageprogress in languagelist
                div.skillbar(id=`skillbar${languageprogress.id}`)(style=`display: none;`)
                    div.skilltitle
                        | #{languageprogress.name}
                    div.progressbar
                        - var idtag = languageprogress.id
                        - var progressamt = languageprogress.proficiency
                        div.progress(id=`${idtag}`)(style=`width: 1%;`)
                    div.skillpercentage
                        | #{languageprogress.proficiency}%
                script.
                    setTimeout(function(){
                        $('#skillscontainer').fadeIn(1000);
                        $('#skillbar#{languageprogress.id}').fadeIn(1000);
                        $('#' + '#{idtag}').animate({width : '+=' + #{progressamt} + '%'}, 1000);
                    },1000);
            h2
                | Software and Operating Systems
            each softwareeprogress in softwarelist
                div.skillbar(id=`skillbar${softwareeprogress.id}`)(style=`display: none;`)
                    div.skilltitle
                        | #{softwareeprogress.name}
                    div.progressbar
                        - var idtag = softwareeprogress.id
                        - var progressamt = softwareeprogress.proficiency
                        div.progress(id=`${idtag}`)(style=`width: 1%;`)
                    div.skillpercentage
                        | #{softwareeprogress.proficiency}%
                script.
                    setTimeout(function(){
                        $('#skillbar#{softwareeprogress.id}').fadeIn(1000);
                        $('#' + '#{idtag}').animate({width : '+=' + #{progressamt} + '%'}, 1000);
                    },1000);
                    