extends default

block content
    - var yearcount = 0;
    - var previousyear = "";
    - var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
    - var previousyear = "test";
    div.timelineheader
    each year in jobexperience
        div.timeline-container(id=`${year.id}`)(style=`display: none;`)
            if (year.id != previousyear)
                div.highlight(style=`top: ${distancefromtop}px !important; background: linear-gradient(90deg, rgba(24, 18, 30, 0.8) 10%, rgba(24, 18, 30, 1) 100%), url('/images/${year.imgSrc}')  no-repeat; background-position: bottom center; background-size: cover;`)
                    div.month
                        | - #{monthNames[(year.month-1)]} -
                    if (year.employer != "")
                        div.employer
                            if (year.title != "")
                                | #{year.employer} - #{year.title}
                            else
                                | #{year.employer}
                    div.highlightsummary
                        | #{year.highlight}
                    div.timeline-skillbar
                        each val in year.skills
                            each language in languagelist
                                - if (language.id == val)
                                    - var colortouse = language.color
                                        div.timeline-skillbar-item(style=`background-color: ${language.color};`)
                                            | #{language.name}
                            each software in softwarelist
                                - if (software.id == val)
                                    - var colortouse = software.color
                                        div.timeline-skillbar-item(style=`background-color: ${software.color};`)
                                            | #{software.name}

                each yearcheck in jobexperience
                    if (yearcheck.id == year.id && yearcheck.month != year.month)
                        div.spacing
                        div.highlight(style=`top: ${distancefromtop}px !important; background: linear-gradient(90deg, rgba(24, 18, 30, 0.8) 10%, rgba(24, 18, 30, 1) 100%), url('/images/${yearcheck.imgSrc}')  no-repeat; background-position: bottom center; background-size: cover;`)
                            div.month
                                | - #{monthNames[(yearcheck.month-1)]} -
                            if (yearcheck.employer != "")
                                div.employer
                                    if (yearcheck.title != "")
                                        | #{yearcheck.employer} - #{yearcheck.title}
                                    else
                                        | #{yearcheck.employer}
                            div.highlightsummary
                                | #{yearcheck.highlight}
                            div.timeline-skillbar
                                each val in yearcheck.skills
                                    each language in languagelist
                                        - if (language.id == val)
                                            - var colortouse = language.color
                                                div.timeline-skillbar-item(style=`background-color: ${language.color};`)
                                                    | #{language.name}
                                    each software in softwarelist
                                        - if (software.id == val)
                                            - var colortouse = software.color
                                                div.timeline-skillbar-item(style=`background-color: ${software.color};`)
                                                    | #{software.name}
                div.spacing
                div.year
                    | #{year.id}
                div.spacing
            script.
                $('##{year.id}').fadeIn("fast");

        - var previousyear = year.id
